hr.hr {
  width: 50%;
  margin: 0 auto;
}

.add {
  display: grid;
  gap: 1rem;
  grid-template-columns: 95% auto;
  width: 90%;
  margin: 0 auto;
}

ul.w3-ul li input:checked + label {
  text-decoration: line-through turquoise 3px;
}

@media screen and (max-width: 840px) {
  hr.hr {
    width: 65%;
  }
  .add {
    grid-template-columns: 90% auto;
  }
}

@media screen and (max-width: 540px) {
  hr.hr {
    width: 80%;
  }
  .add {
    grid-template-columns: 80% auto;
  }
}
